{% extends 'base.html'%}


        <h2>Listado de Bicicletas</h2>

        {% block content%}
        {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
            <a href="/ECycling/productos/crea_bicicletas/" class="btn btn-primary btn-sm">Crear Bicicletas</a>
          {% endif %}
        {% endif %}  
        
        
        <br></br>

        {% for bicicleta in bicicletas %}

         <div class="card" style="width: 30rem;">
              {% if bicicleta.imagen.url != '' %}
              <img src ="{{bicicleta.imagen.url}}" with="160" height="200"> 
              {% endif %}
              <div class="card-body">
              <h5 class="card-title">Tipo y nombre : {{bicicleta.tipo}} {{bicicleta.nombre}}</h5>
              <p class="card-text">El rodado es {{bicicleta.rodado}}  </p>
              <p class="card-text">Marca  {{bicicleta.marca}} </p>
              {% if request.user.is_authenticated %}
              <p class="card-text">Precio {{bicicleta.precio}} </p>
              {% endif %}
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
                <p class="card-text">descuento {{bicicleta.descuento}} </p>
                <a href="/ECycling/productos/actualiza_bicicletas/{{bicicleta.pk}}" class="btn btn-primary">Actualizar</a>
                <a href="/ECycling/productos/borra_bicicletas/{{bicicleta.pk}}" class="btn btn-primary">Borrar</a>
                {% endif %}
                {% endif %}     
              </div>
          </div>
 
     {% endfor %}   
     {% endblock %} 