{% extends 'base.html'%}


       

        {% block content%}
        <h3>Listado de Indumentaria</h3>
        {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
            <a href="/ECycling/productos/crea_indumentaria/" class="btn btn-primary btn-sm">Crear Indumentaria</a>
        
          {% endif %}
          {% endif %}  
        <br></br>

        {% for indumentaria in indumentarias %}

         <div class="card" style="width: 25rem;">
            
            <div class="card-body">
              {% if indumentaria.imagen.url != '' %}
              <img src ="{{indumentaria.imagen.url}}" with="90" height="90"> 
              {% endif %}
              <h5 class="card-title">Cod y nombre : {{indumentaria.cod_indumentaria}} {{indumentaria.nombre}}</h5>
              <p class="card-text">El tipo es {{indumentaria.tipo}}  </p>
              <p class="card-text">Generos  {{indumentaria.genero}} </p>
              <p class="card-text">Cantidad en Stock: {{indumentaria.stock}} </p>
              <p class="card-text">Precio {{indumentaria.precio}} </p>
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
                <a href="/ECycling/productos/actualiza_indumentaria/{{indumentaria.pk}}" class="btn btn-primary">Actualizar</a>
                <a href="/ECycling/productos/borra_indumentaria/{{indumentaria.pk}}" class="btn btn-primary">Borrar</a>
                {% endif %}
                {% endif %}   
              </div>
          </div>
 
     {% endfor %}   
     {% endblock %} 