{% extends 'base.html'%}

{% block content %}
<h1>ECyling</h1>

    {% if message %}
        <h3>{{message}}</h3>
    {% endif %}    

<p>
    Ecycling, surge como una idea a partir de un hobbie que tengo desde hace un par de años, post-pandemia, su nombre tiene relación con la iniciales de mi nombre.
    Esta es una versión muy 0 de lo que seria un ecommerce fue realizado totalmente por mi , tratando de incorporar los conceptos vistos durante el curso de Python.
    Visualmente no es muy agradable, ya que no tengo conocimientos ni de HTML, ni CSS , mi experiencia personal me dedico a análisis de datos, programación de procesos en bases de datos, procesos ETL, BI, reportaría etc.
    Me gustaría seguir aprendiendo sobre frontend, y por otro lado mi interés por Python, es tener una mejor base para continuar capacitándome en Ciencia de Datos.
    Muchas gracias, por todos los conocimientos que me llevo!!
    
</p>
{% endblock %}